/*@import url('https://fonts.googleapis.com/css?family=Anonymous+Pro');*/
@import url('https://fonts.googleapis.com/css?family=Montserrat');

:root{
	/*--typefont: 'Anonymous Pro', monospace;*/
	--typefont: 'Montserrat', sans-serif;
}

*{
	margin: 0;
	padding: 0;
	font-family: var(--typefont);
}

.wrapper{
	background: #333;
	height: 100vh;
}

/*-------------------------------------------header---------------------------------------------*/

header{
	display: grid;
	grid-template-columns: 50% 50%;
}

.logo img{
	margin: 15px;
	width: 250px;
	height: auto;
}

.sarea{
	display: grid;
	grid-template-columns: 50% 50%;
	margin: auto 0;
	padding: 10px 5px;
	font-family: cursive;
	font-size: 18px;
	font-weight: 400;
}

.speed{
	color: green;
}

.words{
	color: red;
}

/*-----------------------------------------------Popup--------------------------------------------*/

.overlay{
	height: 100vh;
	width: 100vw;
	margin: 0;
	padding: 0;
	background: rgba(0,0,0,0.7);
	position: fixed;
	z-index: 10;
}

.popup{
	text-align: center;
	background: #fff;
	position: fixed;
	width: 30vw;
	height: 30vh;
	top: 30%;
	left: 30%;
}

.popclose{
	padding: 10px;
	float: right;
	cursor: pointer;
}

.popup h1{
	clear: both;
	color: #555;
}

.poprslt{
	display: grid;
	grid-template-columns: 50% 50%;
	font-size: 18px;
}


/*----------------------------------------------text area---------------------------------------------*/

#tarea{
	height: 60vh;
	width: 99vw;
	margin: 0 auto;
	display: block;
	background: #000;
	color: #eee;
	resize: none;
	font-family: var(--typefont);
	font-size: 18px;
	/*box-shadow: 2px 3px 7px #aaa;*/
}

#tarea:focus{
	box-shadow: 2px 3px 18px #fff;
}

/*--------------------------------------------------Timer------------------------------------*/

.wraptimer{
	margin: 20px;
	float: left;
}

.tbutton{
	margin-right: 10px;
}

.tbutton:hover, .cbutton:hover{
	box-shadow: 2px 3px 18px #fff;
}


/*---------------------------------------------------ctrl btn--------------------------------*/

.wrapctrl{
	margin: 20px;
	float: right;
}

.copyrights a{
	clear: both;
	display: block;
	position: fixed;
	bottom: 10px;
	width: 100%;
	color: #eee;
	text-align: center;
}

.copyrights a:hover{
	text-shadow: 2px 3px 18px #fff;
}